$main-background: #fff;
$main-color: #000;
$accent-text-color: #fff;
$accent-color-main: #63d1bb;
$accent-color-second: #56c3b2;
$accent-color-third: #f1f1f1;
$border-color: #ececec;
$content-color: #444444;

$font: "Open Sans", Arial, sans-serif;

$font-size-xs: 13px;
$font-size-sx: 14px;
$font-size-s: 15px;
$font-size-m: 17px;
$font-size-xm: 18px;
$font-size-l: 19px;
$font-size-xl: 25px;
$font-size-xxl: 26.5px;
$font-size-xxxl: 27px;

$line-height-s: 24px;
$line-height-xxs: 16px;
$line-height-sx: 18px;
$line-height-xs: 20px;
$line-height-xm: 29.5px;
$line-height-m: 30px;

$font-weight-normal: 400;
$font-weight-bold: 700;

$list-style: none;

$mobile-width: 240px;
$mobile-full-width: 320px;

$catalog-page-border: 1px solid $border-color;

