$main-background: #fff;
$main-color: #000;
$accent-text-color: #fff;
$accent-color-main: #63d1bb;
$accent-color-second: #56c3b2;
$font: "Open Sans", Arial, sans-serif;
$content-color: #444444;
$font-size-s: 15px;
$line-height-s: 24px;
$line-height-xs: 20px;
$line-height-xm: 29.5px;
$line-height-m: 30px;
$font-size-m: 17px;
$font-size-l: 19px;
$font-size-xl: 25px;
$font-size-xxl: 26.5px;
$font-weight-normal: 400;
$font-weight-bold: 700;
$list-style: none;
$mobile-width: 240px;

