$main-background: #fff;
$main-color: #000;
$font: "Open Sans", Arial, sans-serif;
$font-size-s: 15px;
$line-height-s: 24px;
$line-height-xs: 20px;
$line-height-m: 30px;
$font-size-m: 17px;
$font-size-l: 19px;
$font-size-xl: 25px;
$font-weight-normal: 400;
$font-weight-bold: 700;
$list-style: none;
$mobile-width: 240px;


