.to-cart__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.to-cart__title {
  font-size: $font-size-xl;
  line-height: $line-height-m;
  text-align: center;
  margin: 0;
  margin-top: 36px;
  margin-bottom: 25px;
  padding: 0;
  width: 144px;
}

.to-cart__invite {
  text-align: center;
  font-size: $font-size-s;
  line-height: $line-height-m;
  color: $content-color;
  margin-bottom: 28px;
}

.to-cart__form {
  margin-bottom: 46px;
}

.to-cart__size-block {
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.to-cart__element {
  margin: 0;
  margin-right: 7px;
  padding: 0;
}

.to-cart__element:last-child {
  margin-right: 0;
}

.to-cart__label {
  text-align: center;
  display: block;
  box-sizing: border-box;
  color: $content-color;
  font-size: $font-size-m;
  line-height: $line-height-xxs;
  width: 77px;
  padding: 20px 10px;
  border: 1px solid $content-color-opacity-first;
  cursor: pointer;
}

.to-cart__button {
  border: none;
  margin-top: 31px;
}

.to-cart__size:checked+.to-cart__label {
  border: 1px solid $accent-color-main;
}

.to-cart__size:hover+.to-cart__label {
  border-color: $content-color-opacity-second;
}

.to-cart__size:focus+.to-cart__label {
  border-color: $accent-color-main;
}

.to-cart--opened {
  display: block;
}

@media (min-width: $tablet-full-width) {
  .to-cart__title {
    width: 100%;
  }

  .to-cart__label {
    width: 112px;
  }
}
