.page-header__wrapper {
  @include mobile-full-wrapper;
}

.page-header__additional-block {
  display: none;
}

@media (min-width: $tablet-full-width) {
  .page-header__wrapper {
    @include tablet-wrapper;
  }
}

@media (min-width: $desktop-full-width) {
  .page-header__wrapper {
    @include desktop-wrapper;
  }

  .page-header__additional-block {
    display: flex;
    justify-content: space-between;
  }
}
