.page-header__wrapper {
  @include mobile-wrapper;
}

.page-header__additional-block {
  display: none;
}

@media (min-width: $tablet-full-width) {
  .page-header {
    position: relative;
  }

  .page-header__wrapper {
    @include tablet-wrapper;
  }
}

@media (min-width: $desktop-full-width) {
  .page-header__wrapper {
    @include desktop-wrapper;
  }

  .page-header__additional-block {
    position: absolute;
    bottom: -30px;
    left: 50px;
    display: flex;
    justify-content: space-between;
  }
}
