.catalog-card {
  display: flex;
  flex-direction: column;
}

.catalog-card__item-link {
  display: flex;
}

.catalog-card__item-link:hover + .catalog-card__actions,
.catalog-card__item-link:focus + .catalog-card__actions {
  box-shadow: 0px 6px 10px 0 $box-shadow-second-color;
}

.catalog-card__item-link:active + .catalog-card__actions{
  box-shadow: 0px 3px 5px 0 $box-shadow-second-color;
}

.catalog-card__actions {
  border: $catalog-page-border;
  box-sizing: border-box;
  padding-right: 21px;
  padding-left: 21px;
}

.catalog-card__link {
  color: $main-color;
}

.catalog-card__link:hover .catalog-card__title,
.catalog-card__link:focus .catalog-card__title{
  opacity: 0.6;
}

.catalog-card__link:active .catalog-card__title{
  opacity: 0.3;
}

.catalog-card__title {
  margin: 0;
  margin-top: 31px;
  margin-bottom: 17px;
  padding: 0;
  font-size: $font-size-m;
  line-height: $line-height-s;
}

.catalog-card__parameters {
  margin: 0;
  margin-bottom: 27px;
  padding: 0;
  color: $content-color;
  font-size: $font-size-xs;
  line-height: $line-height-m;
}

.catalog-card__pricing {
  margin: 0;
  padding: 0;
  padding-top: 27px;
  padding-bottom: 30px;
  border-top: 1px solid $border-color;
  display: flex;
  justify-content: space-between;
}

.catalog-card__price {
  font-size: $font-size-s;
  line-height: $line-height-s;
}

.catalog-card__cart-link {
  opacity: 0.2;
}

.catalog-card__cart-link:hover ,
.catalig-cart__cart-link:focus {
  opacity: 1;
}

.catalog-card__cart-link:hover path,
.catalig-cart__cart-link:focus path {
  fill: $accent-color-main;
}

.catalog-card__cart-link:active {
  opacity: 0.3;
}

@media (min-width: $tablet-full-width) {
  .catalog-card {
    flex-direction: row;
  }

  .catalog-card__item-link {
    width: 50%;
  }

  .catalog-card__actions {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .catalog-card__link {
    display: block;
    margin-top: 30px;
  }

  .catalog-card__title {
    font-size: $font-size-tablet-s;
    width: 232px;
  }

  .catalog-card__parameters {
    font-size: $font-size-s;
  }

  .catalog-card__price {
    font-size: $font-size-m;
  }

  .catalog-card__image {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-full-width) {
  .catalog-card {
    flex-direction: column;
    width: 316px;
  }

  .catalog-card__item-link {
    width: 316px;
  }

  .catalog-card__image {
    width: 316px;
    height: 462px;
  }

  .catalog-card__actions {
    width: 316px;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 2;
  }

  .catalog-card__actions-top {
    display: flex;
    flex-wrap: wrap;
  }

  .catalog-card__parameters{
    display: flex;
  }

  .catalog-card__pricing{
    align-self: flex-end;
    width: 100%;
  }
}
