.products-list{
  margin: 0;
  padding: 0;
  list-style: $list-style;
}

.products-list__item{

}

@media (min-width: $desktop-full-width){
  .products-list{
    display: flex;
    flex-wrap: wrap;
  }
}
