.categories-list {
  list-style: $list-style;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.categories-list__link {
  display: block;
  background-color: $accent-color-main;
  padding: 30px;
  padding-top: 25px;
  padding-right: 160px;
  color: $accent-text-color;
  font-size: $font-size-l;
  line-height: $line-height-s;
  font-weight: $font-weight-bold;
  position: relative;
}

.categories-list__link--first {
  &::before {
    content: "";
    width: 40px;
    height: 62px;
    position: absolute;
    opacity: 0.5;
    top: 50%;
    margin-top: -31px;
    right: 37px;
    background-image: url("../img/icon-interior.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.categories-list__link--second {
  background-color: $accent-color-second;

  &::before {
    content: "";
    width: 60px;
    height: 60px;
    position: absolute;
    opacity: 0.5;
    top: 50%;
    margin-top: -32px;
    right: 28px;
    background-image: url("../img/icon-toy.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.categories-list__item-title {
  margin: 0;
  padding: 0;
  width: 115px;
}

.categories-list__link:hover,
.categories-list__link:focus {
  padding-bottom: 35px;
}

.categories-list__link--first:hover,
.categories-list__link--first:focus {
  background-color: $hover-color-first;

  &::before {
    opacity: 0.7;
    margin-top: -36px;
  }
}

.categories-list__link--second:hover,
.categories-list__link--second:focus {
  background-color: $hover-color-second;

  &::before {
    opacity: 0.7;
    margin-top: -35px;
  }
}

.categories-list__link:active {
  &::before {
    opacity: 0.3;
  }
}

.categories-list__link:active .categories-list__item-title {
  opacity: 0.3;
}

@media (min-width: $tablet-full-width) {
  .categories-list {
    flex-direction: row;
    width: 668px;
    margin: 0 auto;
  }

  .categories-list__item {
    width: 50%;
  }

  .categories-list__link {
    padding: 35px;
    padding-top: 28px;
    padding-bottom: 42px;
    font-size: $font-size-l;
    line-height: $line-height-m;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: no-repeat;
    background-size: auto 24px;
    background-position: 0 107px;
  }

  .categories-list__link--first {
    background-position: -11px 100%;
  }

  .categories-list__link--second {
    background-position: -20px 100%;
  }

  .categories-list__link:hover,
  .categories-list__link:focus {
    padding-bottom: 65px;
  }
}

@media (min-width: $desktop-full-width) {
  .categories-list {
    width: 1050px;
  }

  .categories-list__link {
    background-size: auto 34px;
  }

  .categories-list__link--first {
    background-position: -50px 100%;
  }

  .categories-list__link--second {
    background-position: 0 100%;
  }
}
