.checkbox-block__label {
  position: relative;
  padding-left: 62px;
  display: block;
}

.checkbox-block__input + .checkbox-block__label::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 39px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border: 1px solid $content-color;
}

.checkbox-block__input:checked + .checkbox-block__label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 22px;
  height: 16px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.checkbox-block__label:hover::before {
  border-color: $accent-color-fourth;
}

.checkbox-block__input:focus + .checkbox-block__label::before {
  border-color: $content-color-opacity-second;
}

@media (min-width: $tablet-full-width) {
  .checkbox-block__label {
    padding-left: 82px;
  }

  .checkbox-block__input+.checkbox-block__label::before {
    width: 54px;
    height: 52px;
  }

  .checkbox-block__input:checked+.checkbox-block__label::after {
    width: 33px;
    height: 22px;
  }
}
