.contacts__wrapper {
  @include mobile-wrapper;
}

.contacts__full-wrapper {
  @include mobile-full-wrapper;
}

.contacts__title {
  font-size: $font-size-xm;
  margin-bottom: 42px;
}

.contacts__list {
  margin: 0;
  padding: 0;
  color: $content-color;
}

.contacts__name {
  display: inline-block;
  vertical-align: top;
  width: 58px;
}

.contacts__value {
  display: inline-block;
  vertical-align: top;
  width: 178px;
  margin: 0;
  padding: 0;
  margin-bottom: 42px;
}

.contacts__mail-link {
  color: $content-color;
  position: relative;
}

.contacts__mail-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 1px;
  background-color: $hover-color-second;
}

.contacts__mail-link:hover,
.contacts__mail-link:focus {
  color: $hover-color-second;
}

.contacts__mail-link:active {
  opacity: 0.3;
}

.contacts__map {
  margin: 0;
  padding: 0;
  margin-bottom: 39px;
  position: relative;
  min-height: 457px;
}

.contacts__map::before {
  content: "";
  position: absolute;
  top: 145px;
  left: 139px;
  width: 67px;
  height: 100px;
  background-image: url("../img/icon-map-pin.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.contacts__map-picture {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.contacts__map-image {
  width: 322px;
  height: 457px;
  background-color: $image-background-color;
}

.contacts__button {
  margin-bottom: 39px;
}

@media (min-width: $tablet-full-width) {
  .contacts__wrapper {
    @include tablet-wrapper;
  }

  .contacts__full-wrapper {
    @include tablet-full-wrapper;
    background-image: url("../img/bg-zigzag-line.svg"),
      url("../img/icon-flag.svg");
    background-repeat: no-repeat;
    background-position: 0 0, 100% 70px;
    padding-top: 70px;
  }

  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: $font-size-m;
  }

  .contacts__name {
    margin-right: 23px;
  }

  .contacts__button {
    width: 230px;
  }

  .contacts__block--third {
    text-align: center;
  }

  .contacts__title {
    font-size: $font-size-tablet-l;
  }

  .contacts__map::before {
    top: 139px;
    left: 363px;
  }

  .contacts__map-image {
    width: 768px;
    height: 457px;
  }
}

@media (min-width: $desktop-full-width) {
  .contacts__full-wrapper {
    @include desktop-full-wrapper;
    padding-right: 50px;
    display: flex;
    flex-wrap: wrap;
    background-position: 50px 0, 63px 70px;
    background-size: 1050px, 47px;
  }

  .contacts__wrapper {
    @include desktop-wrapper;
    width: 875px;
    padding-left: 225px;
  }

  .contacts__title {
    font-size: $font-size-desktop-l;
  }

  .contacts__block--first {
    flex-basis: 350px;
  }

  .contacts__block--third {
    margin-top: -100px;
    margin-bottom: 0;
    text-align: left;
  }

  .contacts__list {
    width: 270px;
  }

  .contacts__map {
    width: 525px;
    height: 457px;
  }

  .contacts__map::before {
    top: 146px;
    left: 239px;
  }

  .contacts__map-image {
    width: 525px;
    height: 457px;
  }
}
