.copyright {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.copyright__text {
  font-weight: $font-weight-bold;
  font-size: $font-size-l;
  line-height: $line-height-sx;
}

.copyright__link {
  width: 43px;
  height: 54px;
}

.copyright__link:hover path,
.copyright__link:focus path {
  fill: $hover-color-second;
}

.copyright__link:active {
  opacity: 0.3;
}

@media (min-width: $tablet-full-width) {
  .copyright {
    justify-content: space-between;
  }
}
