.main-nav__list {
  list-style: $list-style;
  margin: 0;
  padding: 0;
}

.main-nav__item {
  word-wrap: break-word;
}

a[href].main-nav__link:hover,
a[href].main-nav__link:focus {
  opacity: 0.6;
}

a[href].main-nav__link:active {
  opacity: 0.3;
}

@media (min-width: $tablet-full-width) {
  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    width: 334px;
  }

  .main-nav__item {
    width: 157px;
    margin-right: 10px;
  }
}

@media (min-width: $desktop-full-width) {
  .main-nav__list {
    width: 450px;
  }

  .main-nav__item {
    width: 175px;
    margin-right: 46px;
  }
}
