
.manufacture {
  margin-bottom: 59px;
}

.manufacture__wrapper {
  @include mobile-wrapper;
  display: flex;
  flex-direction: column;
  position: relative;
}

.manufacture__title {
  border: 1px solid $border-color;
  margin: 0;
  margin-top: -246px;
  margin-bottom: 150px;
  padding: 0;
  padding-top: 24px;
  padding-bottom: 26px;
  padding-left: 91px;
  padding-right: 10px;
  font-size: $font-size-m;
  line-height: $line-height-s;
  font-weight: $font-weight-bold;
  background-image: url("../img/icon-video.svg");
  background-repeat: no-repeat;
  background-position: 34px 50%;
}

.manufacture__bottom-wrapper {
  border: $catalog-page-border;
  border-top: none;
  padding-top: 24px;
  padding-left: 34px;
  padding-right: 34px;
}

.manufacture__text {
  color: $content-color;
  font-size: $font-size-xs;
  line-height: $line-height-s;
  margin: 0;
  padding: 0;
  margin-bottom: 26px;
}

.manufacture__preview-image-wrapper {
  margin-top: 91px;
  position: relative;
  display: flex;
}

.manufacture__video-preview {
  width: 260px;
  height: 150px;
  display: block;
}

.manufacture__video-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 98px;
  height: 74px;
  border: none;
  background-color: transparent;
  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.manufacture__video-button:hover,
.manufacture__video-button:focus {
  transform: translateY(-50%) translateX(-50%) scale(1.2);
  outline: none;
}

.manufacture__video-button:active {
  transform: translateY(-50%) translateX(-50%) scale(0.66);
  opacity: 0.3;
}

.manufacture__wrapper:hover .manufacture__right-column {
  box-shadow: 0 6px 10px 0 $box-shadow-second-color;
}

.manufacture__wrapper:active .manufacture__right-column {
  box-shadow: 0 3px 5px 0 $box-shadow-second-color;
}

.manufacture__order-button {
  margin-bottom: 34px;
  padding-right: 14px;
  padding-left: 14px;
  font-size: $font-size-m;
  line-height: $line-height-xxs;
}

@media (min-width: $tablet-full-width) {
  .manufacture {
    margin-bottom: 62px;
  }

  .manufacture__wrapper {
    @include tablet-wrapper;
  }

  .manufacture__preview-image-wrapper {
    margin-top: 0;
  }

  .manufacture__video-preview {
    width: 668px;
    height: 455px;
  }

  .manufacture__title {
    font-size: $font-size-tablet-s;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 37px;
    padding-left: 105px;
    background-position: 41px 50%;
  }

  .manufacture__text {
    font-size: $font-size-s;
    line-height: $line-height-m;
    background-position: 40px 50%;
    margin-bottom: 35px;
  }

  .manufacture__bottom-wrapper {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 6px;
  }

  .manufacture__order-button {
    margin-bottom: 49px;
  }
}

@media (min-width: $desktop-full-width) {
  .manufacture {
    margin-bottom: 103px;
  }

  .manufacture__wrapper {
    @include desktop-wrapper;
    flex-direction: row;
  }

  .manufacture__preview-image-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid $border-color;
    border-right: none;
  }

  .manufacture__video-preview {
    width: 682px;
    height: 455px;
  }

  .manufacture__right-column {
    width: 368px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    padding-right: 57px;
    border: 1px solid $border-color;
  }

  .manufacture__title {
    display: flex;
    padding-top: 100px;
    padding-left: 0;
    background-position: 0 47px;
    border: none;
  }

  .manufacture__bottom-wrapper {
    padding: 0;
    margin: 0;
    border: none;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .manufacture__order-button {
    margin-bottom: 63px;
  }
}
