.reviews__wrapper {
  @include mobile-wrapper;
  display: flex;
  flex-direction: column;
}

.reviews__item {
  margin: 0;
  margin-bottom: 36px;
  padding: 0;
  color: $content-color;
  border: none;
}

.reviews__title {
  margin-bottom: 25px;
}

.reviews__text {
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
}

.reviews__author {
  font-style: normal;
  font-size: $font-size-m;
}

.reviews__author-name {
  font-weight: $font-weight-bold;
  line-height: $line-height-s;
}

.reviews__author-nickname {
  line-height: $line-height-s;
  display: block;
}

.reviews__pagination {
  margin-bottom: 38px;
  width: 100%;
  display: flex;
}

.reviews__pagination-button {
  width: 50%;
  background-color: transparent;
  border: 1px solid $border-color;
  min-height: 52px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.reviews__prev-button {
  background-image: url("../img/icon-left-arrow.svg");
  border-right: none;
}

.reviews__next-button {
  background-image: url("../img/icon-right-arrow.svg");
}

.reviews__pagination-button:hover,
.reviews__pagination-button:focus {
  opacity: 0.6;
}

.reviews__pagination-button:active {
  opacity: 0.3;
}

.reviews__button {
  margin-bottom: 45px;
}

@media (min-width: $tablet-full-width) {
  .reviews__wrapper {
    @include tablet-wrapper;
    position: relative;
    margin-bottom: 85px;
  }

  .reviews__wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    height: 457px;
    background-color: $image-background-color;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    z-index: -1;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px auto;
    }
  }

  .reviews__title {
    margin-top: 76px;
    margin-bottom: 49px;
  }

  .reviews__button {
    position: absolute;
    top: 80px;
    right: 50px;
    width: 175px;
  }

  .reviews__pagination {
    position: absolute;
    right: 69px;
    bottom: -4px ;
    width: 137px;
    min-height: 26px;
    justify-content: space-between;
  }

  .reviews__pagination-button {
    width: 50px;
    border: none;
  }

  .reviews__text {
    font-size: $font-size-m;
    margin-bottom: 54px;
  }

  .reviews__author {
    font-size: $font-size-xm;
  }
}

@media (min-width: $desktop-full-width) {
  .reviews__wrapper {
    @include desktop-wrapper;
    width: 875px;
    padding-left: 225px;
    margin-bottom: 69px;
  }

  .reviews__wrapper::before {
    left: 50px;
  }

  .reviews__author {
    font-size: $font-size-m;
  }
}
