.search-form {
  position: relative;
}

.search-form__icon {
  fill: $svg-color;
  position: absolute;
  width: 17.6px;
  height: 17.6px;
  top: 50%;
  margin-top: -9px;
  left: 30px;
  z-index: 1;
  opacity: 0.2;
}

.search-form:hover .search-form__icon,
.search-form:focus .search-form__icon {
  opacity: 1;
  fill: $accent-color-main;
}

.search-form:active .search-form__icon {
  opacity: 0.3;
}

@media (min-width: $tablet-full-width) {
  .search-form {
    width: 100px;
    border-left: 1px solid $border-color-second;
    border-right: 1px solid $border-color-second;
  }

  .search-form__label {
    display: none;
  }
}
