.site-navigation{
  font-size: $font-size-m;
  font-weight:$font-weight-bold;
  line-height: $line-height-s;
}

.site-navigation__toggle{

}

.site-navigation__nav{

}

.site-navigation__item{
  color: $main-color;
}

.site-navigation__link{
  color: $main-color;
}

.site-navigation__input{
  font:inherit;
}
