.reviews__wrapper {
  @include mobile-wrapper;
}

.reviews__item {
  margin: 0;
  padding: 0;
  color: $content-color;
  border: none;
}

.reviews__text {
  margin: 0;
  padding: 0;
}

.reviews__author {
  font-style: normal;
  font-size: $font-size-m;
}

.reviews__author-name {
  font-weight: $font-weight-bold;
  line-height: $line-height-s;
}

.reviews__author-nickname {
  line-height: $line-height-s;
}

@media (min-width: $tablet-full-width) {
  .reviews__wrapper {
    position: relative;
    @include tablet-wrapper;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .reviews__button {
    position: absolute;
    top: 0;
    right: 50px;
    width: 175px;
  }

  .reviews__pagination {
    position: absolute;
    right: 50px;
    bottom: 0;
  }
}

@media (min-width: $desktop-full-width) {
  .reviews__wrapper {
    @include desktop-leftpadding-wrapper
  }
}
