.input-block{
  position: relative;
}

.input-block__input {
  background-color: transparent;
  box-sizing: border-box;
  color: $content-color;
  padding-top: 17px;
  padding-right: 17px;
  padding-bottom: 17px;
  border: none;
  border-bottom: 1px solid $main-color;
}

.input-block__input:hover {
  border-bottom-color: $accent-color-fourth;
}

.input-block__input:focus {
  border-bottom-color: $accent-color-fourth;
  outline: none;
}

.input-block__input::-webkit-input-placeholder {
  color: $content-color-opacity-second;
}
.input-block__input::-moz-placeholder {
  color: $content-color-opacity-second;
}
.input-block__input:-moz-placeholder {
  color: $content-color-opacity-second;
}
.input-block__input:-ms-input-placeholder{
  color: $content-color-opacity-second;
}

.input-block__icon {
  position: absolute;
  bottom: 17px;
  right: 0;
  width: 32px;
  height: 24px;
}

.input-block__input--icon:hover + .input-block__icon {
  fill: $accent-color-fourth;
}

.input-block__input--icon:focus + .input-block__icon {
  fill: $accent-color-fourth;
}

@media (min-width: $tablet-full-width) {
  .input-block__label {
    margin-right: 25px;
  }
}
