.order-form__item {
  border: none;
  margin: 0;
  padding: 0;
  font-size: $font-size-m;
  line-height: $line-height-sx;
  margin-bottom: 30px;
}

.order-form__title {
  display: block;
  width: 100%;
  color: $accent-color-main;
  font-size: $font-size-m;
  line-height: $line-height-xxs;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 27px;
}

.order-form__title::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 198px;
  height: 1px;
  background-color: $accent-color-main;
}

.order-form__note {
  color: $content-color;
  font-size: $font-size-sx;
  line-height: $line-height-xxs;
}

.order-form__element {
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
}

.color-block .order-form__element {
  margin-bottom: 46px;
}

.order-form__element:last-child {
  margin-bottom: 0;
}

@media (min-width: $tablet-full-width) {
  .order-form__item-wrapper {
    display: flex;
    flex-direction: row;
  }

  .order-form__right-block {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
  }

  .order-form__element {
    width: 250px;
  }

  .order-form__title {
    width: 48px;
  }

  .order-form__bottom {
    display: flex;
  }

  .order-form__button {
    width: 230px;
  }

  .order-form__note {
    order: 2;
  }
}

@media (min-width: $desktop-full-width) {
  .order-form__right-block {
    width: 786px;
  }

  .order-form__element {
    width: 262px;
  }

  .order-form__title {
    width: 145px;
  }
}
