.features{
  font-weight: $font-weight-bold;
}

.features__wrapper{
  @include mobile-wrapper;
}

.features__title{
  margin-bottom: 34px;
}

.features__list{
  list-style: $list-style;
  margin: 0;
  padding: 0;
  font-size: $font-size-s;
  line-height: $line-height-xs;
}

.features__item{
  padding-top: 85px;
}

.features__text{
  padding: 0;
  margin: 0;
}


@media (min-width: $tablet-full-width){
  .features__wrapper{
    @include tablet-wrapper;
  }

  .features__list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 415px;
    align-items: center;
    align-content: center;
  }

  .features__item{
    width: 283px;
  }

  .features__text{
    width: 210px;
  }
}

@media (min-width: $desktop-full-width){
  .features__wrapper{
    @include desktop-wrapper;
  }

  .features__title{
    margin-left: 175px;
  }

  .features__item{
    width: 297px;
  }
}
