.contacts__wrapper {
  @include mobile-wrapper;
}

.contacts__full-wrapper {
  @include mobile-full-wrapper;
}

.contacts__title {
  margin: 0;
  padding: 0;
  font-weight: $font-weight-bold;
  font-size: $font-size-xm;
  line-height: $line-height-m;
}

.contacts__list {
  color: $content-color;
}

.contacts__name {
  display: inline-block;
  vertical-align: top;
}

.contacts__value {
  display: inline-block;
  vertical-align: top;
  width: 178px;
  margin: 0;
  padding: 0;
}

.contacts__map {
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-full-width) {
  .contacts__wrapper {
    @include tablet-wrapper;
  }

  .contacts__full-wrapper {
    @include tablet-full-wrapper;
  }

  .contacts__list {
    display: flex;
    flex-wrap: wrap;
  }

  .contacts__button {
    width: 230px;
  }
}

@media (min-width: $desktop-full-width) {
  .contacts__full-wrapper {
    @include desktop-full-wrapper;
    position: relative;
  }

  .contacts__wrapper {
    @include desktop-leftpadding-wrapper;
  }

  .contacts__list {
    width: 270px;
  }

  .contacts__map {
    width: 525px;
    height: 457px;
    position: absolute;
    top: 0;
    right: 50px;
  }
}
