html{
  background-color: $main-background;
  color: $main-color;
  font-size: $font-size-s;
  line-height: $line-height-m;
}

body{
  margin: 0;

}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}
