.top-product__wrapper {
  @include mobile-wrapper;
}

.top-product__title {
  font-weight: $font-weight-bold;
  margin: 0;
  padding: 0;
  margin-top: 34px;
  margin-bottom: 8px;
}

.top-product__label {
  font-weight: $font-weight-bold;
  font-size: $font-size-m;
  line-height: $line-height-xs;
  color: $accent-color-main;
  text-transform: uppercase;
}

.top-product__description {
  color: $content-color;
  margin: 0;
  padding: 0;
  line-height: $line-height-s;
  margin-top: 30px;
  margin-bottom: 33px;
}

.top-product__options {
  margin-bottom: 28px;
}

.top-product__image {
  margin-bottom: 29px;
  width: 260px;
  height: 315px;
  background-color: $image-background-color;
}

.top-product__price-block {
  color: $content-color;
  font-weight: $font-weight-bold;
  font-size: $font-size-m;
  line-height: $line-height-s;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 28px;
}

.top-product__button {
  margin-bottom: 36px;
}

@media (min-width: $tablet-full-width) {
  .top-product__wrapper {
    @include tablet-wrapper;
    position: relative;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: no-repeat;
    background-position: 0 100%;
    padding-bottom: 53px;
  }

  .top-product__content {
    display: flex;
    flex-wrap: wrap;
  }

  .top-product__about {
    flex-basis: 334px;
  }

  .top-product__description {
    margin: 0;
    margin-bottom: 54px;
    padding: 0;
    font-size: $font-size-m;
    line-height: $line-height-m;
  }

  .top-product__pricing {
    margin-top: -150px;
    width: 292px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .top-product__title {
    margin-bottom: 55px;
  }

  .top-product__price-block {
    font-size: $font-size-tablet-m;
  }

  .top-product__image {
    width: 333px;
    height: 404px;
    margin-top: 10px;
  }

  .top-product__label {
    position: absolute;
    line-height: $line-height-tablet-s;
    top: 10px;
    right: 80px;
    width: 70px;
    text-align: center;
  }
}

@media (min-width: $desktop-full-width) {
  .top-product__wrapper {
    @include desktop-wrapper;
    width: 875px;
    padding-left: 225px;
    background-position: 50px 100%;
    background-size: 1050px;
  }

  .top-product__about {
    flex-basis: 350px;
  }

  .top-product__image {
    position: relative;
    width: 525px;
    height: 636px;
    margin-top: -117px;
    z-index: -1;
  }

  .top-product__label {
    top: 0;
    left: 97px;
  }
}
