.manufacture__wrapper {
  @include mobile-wrapper;
  display: flex;
  flex-direction: column;
}

.manufacture__title {
  border: $catalog-page-border;
  margin: 0;
  padding: 0;
  font-size: $font-size-m;
  line-height: $line-height-s;
  font-weight: $font-weight-bold;
}

.manufacture__bottom-wrapper {
  border: $catalog-page-border;
  border-top: none;
}

.manufacture__text {
  color: $content-color;
  font-size: $font-size-xs;
  line-height: $line-height-s;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-full-width) {
  .manufacture__wrapper {
    @include tablet-wrapper;
  }

  .manufacture__preview-image-wrapper{
    order: -1;
  }
}

@media (min-width: $desktop-full-width) {
  .manufacture__wrapper {
    @include desktop-wrapper;
    height: 455px;
    flex-wrap: wrap;
  }

  .manufacture__preview-image-wrapper{
    flex-basis: 455px;
  }
}
